
<div id="classItem">
    <div id="classNameArea">
        <b>{{ item.Name }}</b>
        <i>{{ item.Description }}</i>
    </div>
    <div id="classItemButtonArea">
        <button type="button" class="btn btn-default" ng-disabled="!item.Create.IsEnabled" ng-click="create(item.TypeName)" tooltip="item.Create.Tooltip"><i class="fa fa-plus-circle"> </i></button>
        <button type="button" class="btn btn-default" ng-disabled="!item.Search.IsEnabled" ng-click="search(item.TypeName)" tooltip="item.Search.Tooltip"><i class="fa fa-search"> </i></button>
    </div>
</div>