
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/_app/Test.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        Angular JS Demo <br />
        Input :  <input type="text" ng-model="helloworld" /><br />

        {{helloworld}}

        <div ng-controller="MyOtherController">
            {{message.title}}

        </div>
    </div>
</body>

