@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="fresnelApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/_app/FresnelApp.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        Angular JS Demo <br />
        Input :  <input type="text" ng-model="text" /><br />
        {{text}}

        <div ng-controller="toolboxController">
            {{message.title}}

            <button ng-click="loadNamespaceTree()">Hit me</button>
        </div>
    </div>
</body>
</html>