<ng-form name="explorerForm" role="form" class="" ng-init="oObj = explorer.__meta">

    <div id="explorer_{{oCol.ID}}" ng-init="oCol = explorer.__meta" object-explorer block-ui class="container-fluid box box-solid box-primary" ng-class="{'explorerPanelNormalSize' : !explorer.IsMaximised, 'explorerPanelMaximised' : explorer.IsMaximised}">

        <div class="box-header">
            <span class="explorerItemIcon fa fa-folder-open-o"> </span>
            <span class="box-title">
                {{ oCol.OuterProperty.Name ? oCol.OuterProperty.Name : oCol.Name }}
                <span ng-show="oCol.IsCollection">({{ oCol.Items.length }})</span>
            </span>

            <div ng-include="'/Templates/explorerToolbar.html'"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl != null">
            <!-- Custom Template should be used here: -->
            <div ng-include="explorer.CustomTemplateUrl"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl == null" class="collectionExplorerPanelBody">
            <!-- NB: Use st-safe-src to ensure collection is watched -->
            <div ng-show="oObj.Methods.length > 0" ng-include="'/Templates/methodsPanel.html'"></div>

            <table id="collectionGrid_{{oCol.ID}}" st-table="oCol.DisplayItems" st-safe-src="oCol.Items" class="table table-striped">
                <thead>
                    <tr>
                        <th st-ratio="1">&nbsp;</th> <!--Icon-->
                        <th st-ratio="20" ng-repeat="prop in oCol.ElementProperties" st-sort="{{prop.PropertyName}}">{{prop.Name}}</th>
                        <th st-ratio="1">&nbsp;</th> <!--Remove-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in oCol.Items track by $index">
                        <td st-ratio="1">
                            <span class="{{item.Type}}Icon"></span>
                            <button ng-click="openNewExplorer(item)"
                                    title="Open contents in a new panel">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                        </td>
                        <td st-ratio="20" ng-repeat="elementProp in oCol.ElementProperties" ng-init="prop = item.Properties[elementProp.Index]">
                            {{prop.State.Value}}
                        </td>
                        <td st-ratio="1">
                            <button ng-click="removeItem(item)"
                                    title="Remove this item">
                                <i class="fa fa-remove alert-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</ng-form>
