<div id="collectionExplorer" ng-class="{'col-md-1': true, 'box': true, 'box-solid': true, 'box-primary': true, 'explorerPanel' : true, 'explorerPanelNormalSize' : !obj.IsMaximised, 'explorerPanelMaximised' : obj.IsMaximised}">

    <div class="box-header">
        <h3 class="box-title">{{ obj.Name }}</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-default btn-sm" ng-click="showInfo(obj)"><i class="fa fa-info-circle"></i></button>
            <button class="btn btn-primary btn-xs" ng-show="obj.IsMaximised" ng-click="minimise(obj)"><i class="fa fa-compress"></i></button>
            <button class="btn btn-primary btn-xs" ng-show="!obj.IsMaximised" ng-click=" maximise(obj)"><i class="fa fa-expand"></i></button>
            <button class="btn btn-primary btn-xs" ng-click="close(obj)"><i class="fa fa-close"></i></button>
        </div>
    </div>

    <!--<div class="collectionItems">
        <div ng-repeat='item in obj.Items' ng-include="'/Templates/collectionItemRow.html'">
        </div>
    </div>-->

    <div class="collectionItems">
        <div id="collectionGrid" ng- ng-init="obj.Name='hi'" ng-repeat='item in obj.Items'>
        </div>
    </div>

    <!--    <div id="collectionGrid" ng-init="alert('hi');" class="collectionItems"></div>-->

    <div class="row pull-right">
        <button type="button" class="btn btn-default" ng-disabled="obj.Create.IsEnabled" ng-click="save(obj)" tooltip="prop.Tooltip"><i class="fa fa-save"> Save</i></button>
    </div>
</div>
