
<div class="box-tools pull-right" ng-init="oObj = explorer.__meta;">
    <button class="btn btn-primary btn-sm"
            ng-init="dirtyState = oObj.DirtyState"
            ng-click="save(oObj)"
            ng-class="{ 'alert-default' : dirtyState.IsTransient || dirtyState.IsDirty || dirtyState.HasDirtyChildren }"
            ng-disabled="!dirtyState.IsTransient && !dirtyState.IsDirty && !dirtyState.HasDirtyChildren"
            ng-show="obj.IsPersistent"
            tooltip="">
        <i class=" fa fa-save"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-click="showInfo(explorer)">
        <i class="fa fa-info-circle"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-click="refresh(explorer)">
        <i class="fa fa-refresh"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-show="explorer.IsMaximised"
            ng-click="minimise(explorer)">
        <i class="fa fa-compress"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-click="close(explorer)">
        <i class="fa fa-close"></i>
    </button>
</div>
