
<div class="box-tools pull-right">
    <div class="btn-group" ng-show="explorer.__meta.Methods.length > 0">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Actions</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat='method in explorer.__meta.Methods'>
                <a href="" a-disabled="!method.IsEnabled" ng-click="invoke(method)" data-toggle="tooltip" title="{{method.Description}}">{{method.Name}}</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary btn-sm" ng-disabled="!explorerForm.$dirty" ng-click="save(explorer)" tooltip="prop.Tooltip" ng-class="{ 'alert-default' : explorerForm.$dirty }"><i class=" fa fa-save"></i></button>
    <button class="btn btn-primary btn-sm" ng-click="showInfo(explorer)"><i class="fa fa-info-circle"></i></button>
    <button class="btn btn-primary btn-sm" ng-click="refresh(explorer)"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-primary btn-sm" ng-show="explorer.IsMaximised" ng-click="minimise(explorer)"><i class="fa fa-compress"></i></button>
    <button class="btn btn-primary btn-sm" ng-show="!explorer.IsMaximised" ng-click=" maximise(explorer)"><i class="fa fa-expand"></i></button>
    <button class="btn btn-primary btn-sm" ng-click="close(explorer)"><i class="fa fa-close"></i></button>
</div>
