
<div class="box-tools pull-right" ng-init="oObj = explorer.__meta;">
    <button class="btn btn-primary btn-sm"
            ng-click="save(oObj)"
            ng-class="{ 'alert-default' : oObj.IsDirty || oObj.HasDirtyChildren }"
            ng-disabled="!(oObj.IsDirty || !oObj.HasDirtyChildren)"
            tooltip="prop.Tooltip">
        <i class=" fa fa-save"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-click="showInfo(explorer)">
        <i class="fa fa-info-circle"></i>
    </button>


    <button class="btn btn-primary btn-sm"
            ng-click="refresh(explorer)">
        <i class="fa fa-refresh"></i>
    </button>

    <button class="btn btn-primary btn-sm"
            ng-show="explorer.IsMaximised"
            ng-click="minimise(explorer)">
        <i class="fa fa-compress"></i>
    </button>

    <!--
    NB: The 'explorerRightAnchor' is used to ensure the panel is fully visible to the user.
        It MUST be used on the RIGHT-MOST element in the panel.
    -->
    <button id="explorerRightAnchor_{{oObj.ID}}"
            class="btn btn-primary btn-sm"
            ng-click="close(explorer)">
        <i class="fa fa-close"></i>
    </button>
</div>
