<div ng-init="oObj = explorer.__meta" class="btn-group btn-group-sm methodItems">

    <div ng-if="oObj.IsCollection" ng-include="'/Templates/collectionMethodsPanel.html'"></div>

    <!-- Domain object actions: -->
    <button class="btn btn-default methodItem"
            ng-repeat='method in oObj.Methods'
            ng-disabled="!method.IsEnabled"
            ng-click="invoke(method)"
            data-toggle="tooltip"
            title="{{method.Description}}">
        <div class="methodItemText">
            <span class="fa {{oObj.Type}}-{{method.InternalName}}-Icon"></span>
            {{method.Name}}
        </div>

    </button>
</div>
