<ng-form name="methodDialog" role="form" block-ui class="">

    <div id="methodDialog_{{method.IntenalName}}" block-ui class="container-fluid box box-solid box-primary">

        <div class="box-header">
            <span class="box-title">{{ method.Name }}</span>
            <div ng-include="'/Templates/dialogToolbar.html'"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl != null">
            <!-- Custom Template should be used here: -->
            <div ng-include="explorer.CustomTemplateUrl"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl == null" class="methodDialogBody">
            <!-- Default view -->

            <div class="box-body">
                <div class="parameterItems">
                    <!-- NB: Notice that we're using the variable 'prop' instead of 'param'?
                         This is so that we can reuse Property editors (less code duplication) -->
                    <div ng-repeat='prop in method.Parameters' ng-include="'/Templates/objectExplorerPropertyItem.html'"></div>
                </div>
            </div>
        </div>

        <div class="box-footer text-center">
            <button class="btn btn-primary"
                    ng-disabled="method.ParametersSetByUser.length < method.Parameters.length" ng-click="invoke(method)">
                <i class="fa fa-play"></i> Execute
            </button>
        </div>
    </div>

    <div inform class="inform-center inform-shadow inform-animate"></div>

</ng-form>
