<div id="objectExplorer" class="row">
    <div class="row explorerToolbar">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-7">
            <h4><i>{{ obj.Name }}</i></h4>
        </div>
        <div class="col-xs-4">
            <h4>
                <button type="button" class="btn btn-default btn-xs" ng-click="showInfo(obj)"><i class="fa fa-info-circle"></i></button>
                <button type="button" class="btn btn-default btn-xs" ng-click="minimise(obj)"><i class="fa fa-compress"></i></button>
                <button type="button" class="btn btn-default btn-xs" ng-click="maximise(obj)"><i class="fa fa-expand"></i></button>
                <button type="button" class="btn btn-default btn-xs" ng-click="close(obj)"><i class="fa fa-close"></i></button>
            </h4>
        </div>
    </div>

    <div class="propertyItemContainer">
        <div ng-repeat='prop in obj.Properties' ng-include="'/Templates/propertyItem.html'">
        </div>
    </div>

    <div class="row explorerFooter">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-default" ng-disabled="obj.Create.IsEnabled" ng-click="save(obj)" tooltip="prop.Tooltip"><i class="fa fa-save"> Save</i></button>
        </div>
    </div>
</div>
