<ng-form name="explorerForm" role="form" class="" ng-init="oObj = explorer.__meta">

    <div id="objectExplorer_{{oObj.ID}}" object-explorer block-ui class="container-fluid col-sm-4 box box-solid box-primary explorerPanel" ng-class="{'explorerPanelNormalSize' : !explorer.IsMaximised, 'explorerPanelMaximised' : explorer.IsMaximised}">

        <div class="box-header">
            <span class="explorerItemIcon {{oObj.Type}}Icon"> </span>
            <span class="box-title">
                {{ oObj.OuterProperty.Name ? oObj.OuterProperty.Name : oObj.Name }}
            </span>

            <div ng-include="'/Templates/explorerToolbar.html'"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl != null">
            <!-- Custom Template should be used here: -->
            <div ng-include="explorer.CustomTemplateUrl"></div>
        </div>

        <div ng-if="explorer.CustomTemplateUrl == null" class="objectExplorerPanelBody">
            <!-- Default view -->
            <div class="box-body">
                <div class="propertyItems">
                    <div ng-repeat='prop in oObj.Properties' ng-include="'/Templates/objectExplorerPropertyItem.html'"></div>
                </div>
            </div>
        </div>

    </div>

</ng-form>
