<div class="form-group form-horizontal propertyItem" ng-show="prop.IsVisible">
    <div class="row ">
        <div class="col-md-1 control-label propertyItemIcon {{prop.ValueType}}Icon">
        </div>
        <label class="col-md-4 control-label">
            {{ prop.Name }}
        </label>

        <div ng-switch="prop.Info.Name" class="col-md-7">
            <div ng-switch-when="boolean">
                <div ng-include="'/Templates/Editors/booleanEditor.html'"></div>
            </div>
            <div ng-switch-when="datetime">
                <div ng-include="'/Templates/Editors/dateTimeEditor.html'"></div>
            </div>
            <div ng-switch-when="enum">
                <div ng-include="'/Templates/Editors/enumEditor.html'"></div>
            </div>
            <div ng-switch-when="number">
                <div ng-include="'/Templates/Editors/numberEditor.html'"></div>
            </div>
            <div ng-switch-when="string">
                <div ng-include="'/Templates/Editors/stringEditor.html'"></div>
            </div>
            <div ng-switch-default>
                <button type="button"
                        class="form-control btn btn-default btn-xs"
                        ng-show="prop.IsExpandable"
                        ng-click="openNewExplorer(prop)"
                        tooltip="prop.Tooltip">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
            </div>

            <span class="help-block propertyDescription">
                {{ prop.Description }}
            </span>
        </div>
    </div>



</div>
