<div class="row propertyItem" ng-disabled="!prop.IsVisible">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-4">
        <span>{{ prop.Name }}</span>
    </div>

    <div class="col-xs-5" ng-switch="prop.Info.Name">
        <div ng-switch-when="boolean">
            <div ng-include="'/Templates/Editors/booleanEditor.html'"></div>
        </div>
        <div ng-switch-when="datetime">
            <div ng-include="'/Templates/Editors/dateTimeEditor.html'"></div>
        </div>
        <div ng-switch-when="enum">
            <div ng-include="'/Templates/Editors/enumEditor.html'"></div>
        </div>
        <div ng-switch-when="number">
            <div ng-include="'/Templates/Editors/numberEditor.html'"></div>
        </div>
        <div ng-switch-when="string">
            <div ng-include="'/Templates/Editors/stringEditor.html'"></div>
        </div>
        <div ng-switch-default>
            <div ng-include="'/Templates/Editors/emptyEditor.html'"></div>
        </div>
        <a href="#" title="{{ prop.Info.Name }}"><i class="fa fa-info-circle"></i></a>
    </div>

    <div class="col-xs-1">
        <button type="button"
                class="btn btn-default btn-xs"
                ng-show="prop.IsExpandable"
                ng-click="openNewExplorer(prop.ObjectId, prop.RealName)"
                tooltip="prop.Tooltip">
            <i class="fa fa-external-link"> </i>
        </button>
    </div>
</div>

<div class="row" ng-disabled="!prop.IsVisible">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 propertyDescription">
        {{ prop.Description }}
    </div>
</div>
