<div ng-init="oCol = explorer.__meta;">

    <div ng-show="!explorer.IsMaximised" class="collapsedExplorerPanel box box-tools box-primary">
        <button class="btn btn-primary btn-sm" ng-click="maximise(explorer)"><i class="fa fa-expand"></i></button>
        <span class="collapsedExplorerTitle box-title">
            Search results (showing {{ oCol.Items.length }})
        </span>
    </div>

    <div id="explorer_{{oCol.ID}}" ng-show="explorer.IsMaximised" object-explorer block-ui class="modalDialog container-fluid box box-solid box-primary">

        <div class="box-header">
            <span class="explorerItemIcon fa fa-folder-open-o"> </span>
            <span class="box-title">
                Search results (showing {{ oCol.Items.length }})
            </span>

            <div ng-include="'/Templates/searchResultsToolbar.html'"></div>
        </div>

        <div class="collectionExplorerPanelBody">
            <!-- NB: Use st-safe-src to ensure collection is watched -->
            <table id="collectionGrid_{{oCol.ID}}"
                   st-table="oCol.DisplayItems"
                   st-safe-src="oCol.Items"
                   st-pipe="stTablePipe"
                   class="table table-striped collectionRowText fullWidth">
                <thead>
                    <tr>
                        <th>&nbsp;</th> <!--Common-->
                        <th ng-repeat="elementProp in oCol.ElementProperties"
                            st-sort="Properties[{{elementProp.Index}}].State.FriendlyValue"
                            st-skip-natural="true"
                            title="{{elementProp.Description}}">{{elementProp.Name}}</th>
                        <th>&nbsp;</th> <!--Buttons-->
                    </tr>
                    <tr>
                        <th class="">
                            <button ng-click="showFilterView()"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-collapse-down">
                                </i>
                            </button>
                            <button ng-click="hideFilterView()"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-collapse-up"></i>
                            </button>
                        </th> <!--Common-->
                        <th ng-repeat='prop in oCol.ElementProperties' ng-include="'/Templates/searchFilterItem.html'"></th>
                        <th class="">
                            <button ng-click="resetFilters()"
                                    title="Reset all filters"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>
                            <button ng-click="applyFilters()"
                                    title="Search for items"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-play"></i>
                            </button>
                        </th> <!--Buttons-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in oCol.DisplayItems">
                        <td title="{{item.Type}}">
                            <input type="checkbox" class="" ng-show="oCol.AllowSelection" ng-model="item.IsSelected" />
                            <span class="classItemIcon {{item.Type}}-Icon"></span>
                        </td>
                        <td ng-repeat="elementProp in oCol.ElementProperties"
                            ng-init="prop = item.Properties[elementProp.Index]"
                            title="{{prop.State.FriendlyValue}}"
                            class="{{prop.Info.PreferredControl}}">
                            {{prop.State.FriendlyValue}}
                        </td>
                        <td>
                            <button ng-click="openNewExplorer(item)"
                                    title="Open contents in a new panel"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </button>
                        </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="oCol.DisplayItems.length == 0" class="alert alert-info">
                <h2>No results found</h2>
            </div>
        </div>

        <div class="collectionFooter">
            <div class="pull-left">
                <button ng-click="$close(oCol)"
                        ng-show="results.AllowSelection"
                        title="Use the selected items"
                        class="btn btn-xs btn-default">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
            <div class="pull-right">
                <button ng-disabled="!results.AreMoreAvailable"
                        ng-click="loadNextPage()"
                        title="Fetch more items"
                        class="btn btn-xs btn-default">
                    <i class="glyphicon glyphicons-more"></i>
                </button>
            </div>
        </div>

    </div>

</div>