<div ng-init="oCol = explorer.__meta">

    <div id="explorer_{{oCol.ID}}" object-explorer block-ui class="modalDialog container-fluid box box-solid box-primary">

        <div class="box-header">
            <span class="explorerItemIcon fa fa-folder-open-o"> </span>
            <span class="box-title">
                Search results (showing {{ oCol.Items.length }})
            </span>

            <div ng-include="'/Templates/dialogToolbar.html'"></div>
        </div>

        <div class="collectionExplorerPanelBody">
            <!-- NB: Use st-safe-src to ensure collection is watched -->
            <table id="collectionGrid_{{oCol.ID}}" st-table="oCol.DisplayItems" st-safe-src="oCol.Items" class="table table-striped collectionRowText fullWidth">
                <thead>
                    <tr>
                        <th>&nbsp;</th> <!--Common-->
                        <th ng-repeat="prop in oCol.ElementProperties" st-sort="{{prop.InternalName}}" title="{{prop.Description}}">{{prop.Name}}</th>
                        <th>&nbsp;</th> <!--Buttons-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in oCol.DisplayItems">
                        <td title="{{item.Type}}">
                            <input type="checkbox" class="" ng-show="oCol.AllowMultiSelect" ng-model="item.IsSelected" />
                            <span class="classItemIcon {{item.Type}}-Icon"></span>
                        </td>
                        <td 
                            ng-repeat="elementProp in oCol.ElementProperties"
                            ng-init="prop = item.Properties[elementProp.Index]"
                            title="{{prop.State.FriendlyValue}}">
                            {{prop.State.FriendlyValue}}
                        </td>
                        <td>
                            <button ng-click="openNewExplorer(item)"
                                    title="Open contents in a new panel"
                                    class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="oCol.DisplayItems.length == 0" class="alert alert-info">
                <h2>No results found</h2>
            </div>
        </div>

        <div class="collectionFooter">
            <div class="pull-left">
                <button ng-click="$close(oCol)"
                        title="Use the selected items"
                        class="btn btn-sm btn-default">
                    Use selected items
                </button>
            </div>
            <div class="pull-right">
                <button ng-disabled="!results.AreMoreAvailable"
                        ng-click="loadNextPage()"
                        title="Fetch more items"
                        class="btn btn-sm btn-default">
                    More...
                </button>
            </div>
        </div>

    </div>

</div>