<!--NB: The 'sidebar-menu' class must be applied here, and not on the parent container -->
<ul class="sidebar-menu" ng-controller="toolboxController" class-library>

    <li>
        <a href=""><i class="fa fa-list"></i> <span>Library</span></a>
    </li>

    <li ng-repeat="namespace in classHierarchy" href="" class="treeview">
        <a href="#">
            <span>{{namespace.Name}} ({{namespace.Classes.length}})</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            <li ng-repeat="item in namespace.Classes" class="active classItem">
                <div class="">

                    <div class="btn-group" ng-show="item.IsVisible">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                            &nbsp;
                            <span class="classItemIcon {{item.Type}}Icon" data-toggle="tooltip" title="{{item.Description}}">
                                {{item.Name}}
                            </span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="" a-disabled="!item.ShowAll.IsEnabled" ng-click="getObjects(item.FullTypeName)" data-toggle="tooltip" title="{{item.ShowAll.Tooltip}}">
                                    <i class="fa fa-search"></i>Show all
                                </a>
                            </li>
                            <li>
                                <a href="" a-disabled="!item.Search.IsEnabled" ng-click="search(item.FullTypeName)" data-toggle="tooltip" title="{{item.Search.Tooltip}}">
                                    <i class="fa fa-search"></i>Search
                                </a>
                            </li>
                            <li>
                                <a href="" a-disabled="!item.Create.IsEnabled" ng-click="create(item.FullTypeName)" data-toggle="tooltip" title="{{item.Create.Tooltip}}">
                                    <i class="fa fa-plus-circle"></i>Create
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>


                </div>
            </li>
        </ul>

    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-gear"></i> <span>Services</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-ban"></i> Nothing here yet</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-search"></i> <span>Searches</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href=""><i class="fa fa-ban"></i> Nothing here yet</a></li>
        </ul>
    </li>

</ul>