/* See http://fortawesome.github.io/Font-Awesome/cheatsheet/ for codes */

.classItemIcon {
    position: relative;
}

    .classItemIcon:before {
        position: relative;
        font-family: FontAwesome;
        font-size: large;
        top: 2px;
        left: 0px;
    }


.propertyItemIcon {
    position: relative;
}

    .propertyItemIcon:before {
        position: absolute;
        font-family: FontAwesome;
        top: 8px;
        left: 24px;
    }


.explorerItemIcon {
    position: relative;
}

    .explorerItemIcon:before {
        position: absolute;
        font-family: FontAwesome;
        font-size: large;
        top: 10px;
        left: 7px;
    }


.BooleanIcon:before {
    content: "\f204"; /* fa-toggle-off  */
}

.StringIcon:before {
    content: "\f040"; /* fa-pencil */
}

.EnumIcon:before {
    content: "\f0ca"; /* fa-list-ul */
}

.DateTimeIcon:before {
    content: "\f073"; /* fa-calendar */
}
