#toolboxPanel {
    width: 300px;
    height: inherit;
    overflow: scroll;
    padding: 10px;
    background: #eee;
}

#toolboxPanelOpener {
    float: right;
    margin: -10px -50px 0px 0px;
    border-radius: 0;
}

#toolboxPanel-close {
    float: right;
}

#classItem {
    margin: 10px 10px 10px 10px;
    /*border-radius:0;*/
}

#classNameArea {
    height: 24px;
}

#classItemButtonArea {
    height: 24px;
    float: right;
}
