#toolboxPanel {
    /*width: 300px;*/
    /*height: 500px;*/
    /*overflow: scroll;*/
    /*background: #eee;*/
}

#toolboxPanel-close {
    float: right;
}

#classItem {
    /*-moz-border-radius: 5px;*/ /* For Firefox */
    /*border-radius: 5px;*/
    /*border: 1px solid WindowFrame;*/
    /*min-height: 120px;*/
    width: 100%;
    /*min-height: 60px;*/
    /*margin: 2px;*/
    /*padding: 4px;*/
}

#classNameArea {
}

#classItemButtonArea {
}


.classDescription {
    font-style: italic;
    font-size: smaller;
}
