.container {
    width: 100%;
    height: 100%;
}

a.disabled {
    color: #AAAAAA;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

.workbenchContainer {
    /*background-color: #DDDDDD;*/
    width: 100%;
    height: 100%;
}

.explorerToolbar {
    background-color: ActiveCaption;
    color: WindowText;
}

.explorerPanel {
    padding: 0px !important;
    background-color: #BBBBBB;
    overflow-x: hidden;
    overflow-y: auto;
}

.objectExplorerPanelBody {
    overflow-x: hidden;
    overflow-y: auto;
}

.collectionExplorerPanelBody {
    overflow-x: auto;
    overflow-y: auto;
    /*max-height: 768px;*/
}

.propertyItems {
    /*overflow-x: auto;*/
    /*overflow-y: auto;*/
}

.propertyItem {
    -moz-border-radius: 5px; /* For Firefox */
    border-radius: 5px;
    background: -webkit-linear-gradient(ThreeDHighlight, Window); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(ThreeDHighlight, Window); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(ThreeDHighlight, Window); /* For Firefox 3.6 to 15 */
    background: linear-gradient(ThreeDHighlight, Window); /* Standard syntax */
    color: black;
    padding: 2px;
    margin: 2px;
}

.collectionPropertyCellItem {
    border: 0px;
}

.propertyDescription {
    font-size: smaller;
}

.editorWidget {
    width: 100%;
}

.explorerFooter {
}

.fullWidth {
    width: 100%;
}
