.container {
    width: 100%;
}


.workbenchContainer {
    background-color: Background;
    /*overflow-x: auto;*/
    /*overflow-y: visible;*/
}

.explorerPanel {
    -moz-border-radius: 5px; /* For Firefox */
    border-radius: 5px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid WindowFrame;
    margin: 4px;
}

.explorerPanelNormalSize {
    width: 426px; /* 426px allows 3 horzontal panels on a 1366 screen */
    height: 400px;
}

.explorerPanelMaximised {
    width: 1200px;
    height: 600px;
}

.explorerToolbar {
    background-color: ActiveCaption;
    color: WindowText;
}

.propertyItems {
    /*overflow-x: hidden;
    overflow-y: auto;*/
}

.propertyItem {
    -moz-border-radius: 5px; /* For Firefox */
    border-radius: 5px;
    border: 1px solid WindowFrame;
    background: -webkit-linear-gradient(ThreeDHighlight, Window); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(ThreeDHighlight, Window); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(ThreeDHighlight, Window); /* For Firefox 3.6 to 15 */
    background: linear-gradient(ThreeDHighlight, Window); /* Standard syntax */
    color: black;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.propertyDescription {
    font-style: italic;
    font-size: smaller;
}

.editorWidget {
    width: 100%;
}

.explorerFooter {
}

.fullWidth {
    width: 100%;
}
