
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="fresnelApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObjectExplorer</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
