<div class="btn-group " data-toggle="buttons">
    <label class="btn btn-default" ng-disabled="!prop.CanWrite" ng-class="{'btn-primary':prop.Value==false}" ng-click="prop.Value=false;setProperty(prop);">
        <input type="radio"
               name="{{obj.ID}}{{prop.Name}}"
               ng-model="prop.Value"
               ng-value="false" />
        {{prop.Info.FalseValue}}
    </label>
    <label class="btn btn-default" ng-disabled="!prop.CanWrite" ng-class="{'btn-primary':prop.Value==true}" ng-click="prop.Value=true;setProperty(prop);">
        <input type="radio"
               name="{{obj.ID}}{{prop.Name}}"
               ng-model="prop.Value"
               ng-value="true" />
        {{prop.Info.TrueValue}}
    </label>
</div>