<label class="radio-inline" >
    <input type="radio"
           name="{{obj.ID}}{{prop.Name}}"
           value="false"
           ng-checked="prop.Value == true"
           ng-click="setProperty(prop)"
           ng-disabled="!prop.CanWrite" />
    {{prop.Info.FalseValue}}
</label>

<label class="radio-inline">
    <input type="radio"
           name="{{obj.ID}}{{prop.Name}}"
           value="true"
           ng-checked="prop.Value == false"
           ng-click="setProperty(prop)"
           ng-disabled="!prop.CanWrite" />
    {{prop.Info.TrueValue}}
</label>
