<div class="btn-group ">
    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsCollection"
            ng-click="openNewExplorerForProperty(prop)"
            title="Open contents in a new panel">
        <i class="fa fa-ellipsis-h"></i>
    </button>

    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsCollection && prop.State.Create.IsEnabled"
            ng-click="addNewItem(prop)"
            title="Create a new item">
        <i class="fa fa-plus-square"></i>
    </button>

    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsCollection && prop.State.Add.IsEnabled"
            ng-click="addItem(prop)"
            title="Add an existing item">
        <i class="fa fa-plus"></i>
    </button>

</div>