<div ng-repeat="enumItem in prop.Info.Items" class="row">
    <label class="col-sm-5">
        <input type="radio"
               class=""
               name="{{prop.Name}}.{{enumItem.Name}}"
               value="{{enumItem.Name}}"
               ng-disabled="!prop.Set.IsEnabled"
               ng-checked="prop.Value == enumItem.Value"
               ng-model="prop.Value"
               ng-change="setProperty(prop)" />
        {{enumItem.Name}}
    </label>
    <div class="col-sm-7 help-block propertyDescription">{{enumItem.Description}} </div>
</div>
