<div class="btn-group btn-group-sm">
    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsObject && prop.State.Get.IsEnabled"
            ng-click="openNewExplorerForProperty(prop)"
            title="Open contents in a new panel">
        <i class="fa fa-ellipsis-h"></i>
    </button>

    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsObject && prop.State.Create.IsEnabled"
            ng-click="createAndAssociate(prop)"
            title="Create a new item">
        <i class="fa fa-plus-square"></i>
    </button>

    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsObject && prop.State.Set.IsEnabled"
            ng-click="associated(prop)"
            title="Replace with another item">
        <i class="fa fa-link"></i>
    </button>

    <button type="button"
            class="btn btn-default"
            ng-show="prop.IsObject && prop.Clear.IsEnabled"
            ng-click="disassociate(prop)"
            title="Remove this item">
        <i class="fa fa-unlink"></i>
    </button>

</div>